<header
  class="w-full shadow bg-white rounded-b sticky top-0 data-[sticked='true']:shadow z-[2]"
>
  <nav class="container mx-auto flex justify-between items-center p-4">
    <ul class="flex gap-4 items-center justify-center">
      <li class="lg:hidden"><i class="fa-solid fa-bars"></i></li>
      <li><h1 class="text-xl font-semibold font-poppins">Tharagai</h1></li>
    </ul>
    <ul class="flex items-center gap-2 text-xl text-secondry">
      <li class="capitalize">admin</li>
      <li><i class="fa-solid fa-user"></i></li>
    </ul>
  </nav>
</header>
