<nav class="w-56 p-4">
  <ul
    class="shadow bg-white p-4 rounded flex flex-col gap-6 fixed top-20"
    style="height: 480px"
  >
    <li>
      <h1 class="border-b text-lg font-semibold p-2 text-gray-500">
        Main Menu
      </h1>
    </li>
    <li>
      <a
        href=""
        class="text-lg font-semibold flex items-center gap-2 secondry-hover text-gray-600"
      >
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a
        href=""
        class="text-lg font-semibold flex items-center gap-2 secondry-hover text-gray-600"
      >
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="custom-blue">Product</span>
      </a>
    </li>
  </ul>
</nav>
