@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.text-secondry {
  color: #7e8427;
}
.secondry-hover:hover {
  color: #7e8427;
}
.bg-secondry {
  background-color: #7e8427;
}
.text-success {
  color: #f4e9e3;
}
.bg-success {
  background-color: #f4e9e3;
}

.success-hover:hover {
  background-color: #f4e9e3;
}

input:hover,
select:hover,
textarea:hover {
  border: 1px solid #7e8427 !important;
}
